<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <!--    <bean id="musicBean" class="by.petropavlovskaja.springpharmacy.music.ClassicalMusic"></bean>-->
    <bean id="classicMusicBean" class="by.petropavlovskaja.springpharmacy.music.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">

        <!--          scope="prototype"-->
    </bean>

    <bean id="rockMusicBean" class="by.petropavlovskaja.springpharmacy.music.RockMusic"></bean>
    <bean id="popMusicBean" class="by.petropavlovskaja.springpharmacy.music.PopMusic"></bean>

    <!--    DI from constructor
        <bean id="musicPlayer" class="by.petropavlovskaja.springpharmacy.music.MusicPlayer">
            <constructor-arg ref="musicBean"/>
        </bean>
    -->
    <bean id="musicPlayer" class="by.petropavlovskaja.springpharmacy.music.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="classicMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="popMusicBean"/>
            </list>
        </property>
    </bean>

    <!--
        &lt;!&ndash;    DI from setter&ndash;&gt;
        <bean id="musicPlayer" class="by.petropavlovskaja.springpharmacy.music.MusicPlayer">
            <property name="music" ref="musicBean"/>

    &lt;!&ndash;        <property name="name" value="My first player"/>
            <property name="volume" value="50"/>&ndash;&gt;
            <property name="name" value="${musicPlayer.name}"/>
            <property name="volume" value="${musicPlayer.volume}"/>
        </bean>

    -->

</beans>