<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>On-line pharmacy. INDEX IN Views</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="icon" type="image/gif" href="resources/images/pharmacy_small.gif">
</head>

<body>
<div th:replace="templates/header::header"></div>
<div id="line"></div>

<div th:replace="templates/menu::menu_pharmacist"></div>

<div id="center">
    <p2>SOME INFO IN CENTER</p2>
</div>

<div th:replace="templates/right::right"></div>

<div th:replace="templates/footer::footer"></div>

</body>
</html>